language: go
go: 1.7.1

install:
  - go get -v -t ./...

script:
  - go build ./...
  - go test -v ./...

before_deploy:
  - go get github.com/laher/goxc
  - goxc -tasks='xc archive' -bc="freebsd,amd64 linux,amd64 windows,amd64 windows,386 darwin,amd64" -d .

deploy:
  provider: releases
  api_key:
    secure: j8K5wAsKRz1vrpKosmfK+UNfyY9CrbTQk+YRGTj10maxc+79OCKocEaaqkPtXO3kGjSgR6tc4W/j3nu6hZUpNkNvlOxiqgmxkMnWQQg8Q3c9se1MzZwIqYajMri3LGDyBFoXAoUdwWSeWHKH8Lu8m8t8cgTOOsqODHkmVpk/+snzDrPmjHYbc0YyJl1/nEMa3JWiEhJEbCNj3yfi5LL6xyv67pXmlBJcR8O/jZlTjwzN3tlpO5R1/XRgvUYVO/vhZL7AVhOiJMYq3E9aNlDk359EPlIre6SbWFVPyyKKKjosTDyPxTYsdKDuNR2teHRPQUm6uxfuamo2hX5j8ltyGPwqy69MzmC5aC2khwdsMV4FKBY/1Ef2kGAxG4Puw2kxvBB7Cq5taqea2kFviUHdMn5Iwkk044EXHzUJ2k6cxqEIwePhiFH/P08m42hIvmABg7WGRDRHmennRPFGzpW20Qv7LpkLVqxKI7bXWdqqgJvgo6r1EYwPgpKKpN0xn8zjc4sKCEM9b1+78x6E4ezCCztwjkc1cvxV99vb5ycXH4BGDpXZeUoX7ncFE9at+k1DcWG+UTVmZmdjKwxGWQaLdcJopufeob+oyVH8mVWlMaeJa+KGBNXr9dw677OSUaLeobR3Pj1zql0YAdDnu8oQFO0PVgQZAasu5WQfNtBWO4g=
  file:
    - snapshot/mikoi_darwin_amd64.zip
    - snapshot/mikoi_freebsd_amd64.zip
    - snapshot/mikoi_linux_amd64.tar.gz
    - snapshot/mikoi_windows_386.zip
  on:
    tags: true
    repo: nabeken/mikoi
